---
- name: MariaDB - max allowed packet
  ini_file:
    dest: /etc/my.cnf
    section: mysqld
    option: max_allowed_packet
    value: 24M
    backup: yes
- name: MariaDB - max connections
  ini_file:
    dest: /etc/my.cnf
    section: mysqld
    option: max_connections
    value: 500
    backup: yes
- name: Start database server on boot
  service:
    name: mariadb
    state: started
    enabled: yes
# Equivilant to mysql_secure_installation
- name: delete anonymous MySQL server user for *
  action: mysql_user user="" host="*" state="absent"
  ignore_errors: yes
- name: delete anonymous MySQL server user for localhost
  action: mysql_user user="" state="absent"
  ignore_errors: yes
- name: remove the MySQL test database
  action: mysql_db db=test state=absent
  ignore_errors: yes
# 'localhost' needs to be the last item for idempotency, see
# http://ansible.cc/docs/modules.html#mysql-user  
- name: Change root user password on first run
  mysql_user: login_user=root
              login_password=''
              name=root
              password={{ mariadb_root_pass }}
              priv=*.*:ALL,GRANT
              host={{ item }}
  with_items:
    - 127.0.0.1
    - ::1
    - localhost
  ignore_errors: yes
